html body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color:rgb(144, 255, 100);
}
body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background:radial-gradient(ellipse at center,#f00 0%, #f90 20%,#fe0 40%,#0c6 60%,#09e 80%,#60c 100%);
    background-repeat: no-repeat;
}
.container{
    height:100%;
    width:100%;
    display:block;
    font-family: fantasy,monospace,sans-serif;
   
}
.header{
    max-width:100vw;
    max-height:5vh;
    display:inline-block;
    padding: 0.5%;
    margin: none;
    background-color: #15485e8a ;
    align-items: center;
    display: flex;
}
.ul-header{
    list-style-type:none;
    text-align: center;

}
.index-menu{
    height: 5vmin;
    width: 5vmin;
}
.index-logo{
    padding-left: 1vw;
    height: 5vmin;
    width: 5vmin;
}
#IndexTitle{
    padding-left:1vw;
    font-size: 4vh;
    color: #ffffff;

}